h1 {
    font-size: x-large;
    text-decoration:;
}
h2 {
    font-size: 50pxs;
    margin-top: 40px;
    text-align: left;
    
}

.img-fluid {
    margin-top: 40px;
    margin-left: 50px;
    width: 300px;
    height: 300px;
    border:2px solid #fff;
    background: url(img/self.jpg) no-repeat;
    -moz-box-shadow: 10px 10px 5px #ccc;
    -webkit-box-shadow: 10px 10px 5px #ccc;
    box-shadow: 10px 10px 5px #ccc;
    -moz-border-radius:25px;
    -webkit-border-radius:25px;
    border-radius:25px;
}

.display-4 {
    text-decoration: underline;
}

h4 {
    padding-top: 40px;
}



/* .col-md-12 h2 {
    text-align: center;
} */
